[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
opencv-contrib-python = {version = "4.6.0.66"}
argparse = "*"
graphviz = "*"
pydot = "*"

[requires]
python_version = "3.11"
